.nav_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  padding: 10px 0;
}
.nav_flex img {
  width: 48px;
}
.nav_flex .nav_flex_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav_flex .nav_flex_item h2 {
  font-size: 13px;
  font-weight: normal;
  margin: 5px 0;
}
