@import url("../fonts/iconfont.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg-cover {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.bg-cover  span {
  background-color: #000;
  padding: 20px;
}
.BMap_stdMpZoom {
  overflow: hidden;
  position: relative;
  background-image: url(http://webmap0.bdimg.com/image/api/bg.png);
  text-align: left;
  touch-action: none;
}
.BMap_stdMpZoomIn,
.BMap_stdMpZoomOut {
  height: 50%;
  text-align: center;
}
.BMap_stdMpZoom {
  width: 30px;
  margin: 5px 0;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.BMap_stdMpZoomOut {
  font-size: 20px;
  background: url("https://webmap1.bdimg.com/mobile/simple/static/common/images/new/zoomin_891d512.png")
    center no-repeat;

  background-size: 80%;
}
.BMap_stdMpZoomIn {
  background: url("https://webmap1.bdimg.com/mobile/simple/static/common/images/new/zoomout_836a0e4.png")
    center no-repeat;
  background-size: 80%;
}
.BMap_scaleTxt {
  border-bottom: 2px solid black;
}
.BMap_scaleTxt::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -3px;
  margin-right: 33px;
  height: 10px;
  border-left: 3px solid black;
}
.BMap_scaleTxt::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -3px;
  height: 10px;
  border-right: 3px solid black;
}
html,
body,
#root,
#container {
  width: 100%;
  height: 100%;
  color: #333;
  font-family: "Microsoft";
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-style: none;
  /* background-color: #333; */
}
::-webkit-scrollbar {
  width: 0px;
}
ul {
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333 !important;
}

img {
  object-fit: fill;
}

/* 首页搜索样式 */
.home-search {
  position: absolute !important;
  top: 15px;
  left: 0;
  right: 0;
  height: 40px;
  padding: 0 15px;
  z-index: 99;
}
